/*/ Initial interface /*/

.AboutUs-image {
    position: relative;
    width: 100%;
    height: 100px;
    left: 700px;
}

.AboutUs-text {
    text-align: left;
    color: black;
    font-size: 200px;
}

/*/ Scroll down to information /*/

.body {

}

.bodyImages {
    position: relative;
    width: 100%;
    height: 500px;
    left: 700px;
}
