/*/ Initial interface /*/

.bottomRightImage img {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 1250px;
    height: 425px;
    z-index: -1;
}

.textContainerAboutUs {
    background-color: transparent;
    position: absolute;
    left: 100px;
    top: -40px;
    width: 80%;
    max-width: 400px;
    max-height: 0px;
    margin: 0 auto;
}

.welcomeText {
    font-size: 120px;
}

.textContainerSub {
    background-color: transparent;
    position: absolute;
    top: 530px;
    right: 550px;
    z-index: 1;
}

.subtext {
    position: relative;

    left: 500px;

    font-size: 38px;
}

/*/ Scroll down to information /*/

.textContainer2 {
    background-color: transparent;
    position: absolute;
    bottom: -700px;
    left: 40px;
    width: 700px;
}

.body h1 {
    font-size: 40px;
}

.body p {
    font-size: 20px;
}

.bodyImage1 img {
    position: absolute;
    bottom: -400px;
    right: 0px;
}

.bodyImage2 img {
    position: absolute;
    bottom: -620px;
    right: 0px;
}

.bodyImage3 img {
    position: absolute;
    bottom: -850px;
    right: 0px;
}

.AboutUs-footer {
    position: absolute;
    right: 0px;
    bottom: -1000px;

    width: 100%;
}