.contactHeader {
    font-size: 50px;
    text-align: center;
}

.contactGrid {
    display: flex;
    justify-content: space-between;
    margin-top: 0px; 
}

.contactItem {
    text-align: center;
}

.contactItem img {
    width: 60%; 
    height: auto; 
    border-radius: 1000%; 
    overflow: hidden; 
}