footer {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    background-color: #ADADAD;
    padding: 0px;
    border-top: 1px #10283b;
}
.left p {
    margin-left: 10px;
    color: black; 
}
.right img {
    max-width: 60px;
    margin-right: 10px;
    height: auto;
}
