.Testimonials-intro {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 54vh;

    padding: 6rem 0 1rem;

    background-color: #D5E7FF;
    background-image: url(../../public/images/testimonialsBanner.jpg);

    text-align: center;
    font-family: 'Noto-Sans', sans-serif;
    color: #000000;
}

.Testimonials-intro-title {
    margin: 2.4rem 0 0;

    font-size: 6rem;
}

.Testimonials-intro>p {
    font-size: 18px;
}

.Testimonials-intro>button {
    width: 14%;

    margin-top: 4rem;
}

.Testimonials-form-button {
    height: 3rem;

    margin: 1.8rem 0;
    border: none;
    border-radius: 5px;

    background-color: #10283b;

    font-size: 1.2em;
    font-family: 'Noto-Sans', sans-serif;
    color: #ffffff;

    cursor: pointer;

    transition: all 300ms ease-in-out 200ms;
}

.Testimonials-form-button:hover {
    background-color: #0a1d2d;
}

.Testimonials-form-button>a {
    text-decoration: none;
    color: #ffffff;
}

.Testimonials-page-container {
    background-color: #f2f2f2;
}

.Testimonials-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4rem;

    padding: 8rem 0;
}

.Testimonials-message-container {
    width: 40%;

    padding: 1rem;
    border: 1px solid #10283b;
    border-radius: 4px;

    background-color: #ffffff;

    font-family: 'Barlow', sans-serif;

    transition: all 300ms ease-in-out 200ms;
}

.Testimonials-message-container:hover {
    box-shadow: 1px 2px 4px#9d9d9d;
}

.Testimonials-message-container>p {
    display: inline;
}

p.Testimonials-name {
    display: block;

    padding: 1rem 0 0;

    float: right;
}

#Testimonials-add-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 40%;

    margin: 2rem auto;
}

#Testimonials-add-container>button {
    width: 16%;
    height: 3.4rem;
}